.product__links{
    margin-top: 10px;
}

.product__links > a{
    font-size: 21px;
    margin: 0 20px;
    color: #2997ff;
    text-decoration: none;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #fbfbfd;
    margin-top: 60px;
    justify-content: center;
}


.product h1 {
    font-size: 45px;
    text-align: center;
    font-weight: 500;
}

.product__smallHeader {
    font-size: 20px;

}

.product p {
    font-size: 21px;
    color: black;
}

.product__info{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}